@import url("https://fonts.googleapis.com/css?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primaria: #000000; /*cor de fundo */
  --cor-secundaria: #f6f6f6; /*cor da fonte e texto */
  --cor-terciaria: #22dbdb; /*cor destaque */
  --cor-hover: #272727;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--cor-primaria); /*cor de fundo */
  color: var(--cor-secundaria); /*cor da fonte e texto */
}

.cabecalho{
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
  
} 

.cabecalho__menu__link {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;

}

.apresentacao {
  padding: 5% 15%;  
  display: flex;
  align-items: center; /* alinhamento a partir da maior referencia dentro do escopo. ex: uma imagem*/
  justify-content: space-between;
  gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;                /* espaço entre os elementos, neste caso o texto*/
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
  }

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  color: var(--cor-secundaria);

}

.apresentacao__conteudo__texto a{
  text-decoration: none;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex; /* flex direction default é na posição row, para isso é preciso declarar a propriedade e atribuir o valor de coluna p modificar*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    color: var(--cor-secundaria);
    padding: 3% ;
}

.apresentacao__imagem {
  width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {/* dentro doparenteses é uma condição*/
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu {
    justify-content: center;
  }
  
  .apresentacao{
    flex-direction: column-reverse;
    padding: 5%;
  }

  .apresentacao__conteudo {
    width: auto; /* ocupa o espaço das laterais settado para desktop'*/
  }
}  